{% extends 'base.template.html' %}
{% load static %}
{% load tz %}
{% comment %} {% load filename %} {% endcomment %}

{%block content%}
    <h2>Your Uploaded Files</h2>
    <div class="container">
        <a href="{%url 'home'%}" class="btn btn-sm btn-success">Upload File</a>
    </div>
    <div class="container">
        <table class="table mt-3">
            <thead>
                <tr>
                    <th>File Name</th>
                    <th>File Size</th>
                    <th>Sensitivity</th>
                    <th>Upload Date</th>
                    <th>Modified Date</th>
                    <th>Uploader</th>
                    <th>Download</th>
                    <th>Sensitivity Checker</th>
                    <th>Delete File</th>
                </tr>
            </thead>
            <tbody>
                {% for file in files %}
                <tr>
                    <td>{{ file.uploadfile.name}}</td>
                    <td>{{ file.uploadfile.size }}</td>
                    <td>{{ file.sensitivity }}</td>
                    <td>{{ file.created|localtime }}</td>
                    <td>{{ file.updated|localtime }}</td>
                    <td>{{ file.owner }}</td>
                    <td><a href="{{ file.uploadfile.url }}" target="_blank" class="btn btn-outline-primary">Download File</a></td>
                    <td><a href="{% url "checker" file_id=file.id %}" class="btn btn-outline-primary">Checker</a></td>
                    <td><a href="{% url "delete_file" file_id=file.id %}" class="btn btn-outline-danger">DELETE</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{%endblock%}